.searchbar {
  display: flex;
}

.searchbox {
  height: 30px;
  width: 350px;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 1px solid #5d5c61;
  background-color: #5d5c61;
  font-size: 15px;
  padding-left: 5px;
  color: #b4b2b8;
  transition: 0.5s ease;
}

.searchbox:hover {
  border: 2px solid #737376;
}
.searchbox::placeholder {
  color: #b4b2b8;
}
.searchbox:focus {
  border: 2px solid #ff6f69;
}

.search-button {
  height: 30px;
  width: 40px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #504f53;
  margin-left: 1px;
  background-color: #504f53;
  cursor: pointer;
}

.search-button:hover {
  background-color: #5d5c61;
  border: 1px solid #5d5c61;
}
